.title {
	background: lightblue;
	text-align: center;
	font-size: 30px;
	margin: 10px 0px 10px;
}

.instructions {
	background: lightgreen;
	font-size: 20px;
}

.scoreboard {
	background: gold;
	font-size: 	20px;
}

.winlose {
	background: orangered;
	font-size: 18px;
}

.centerimg {
		margin: 0 auto;
}